*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;  
}
.main-container{
    width: 100%;
}
.image-box{
    vertical-align: middle;
    width: 25%;
    float: left;
}
.image-box img{
    width: 100%;
    padding: 5px;
}
