*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    color: #000!important;
    background-color: #f1f1f1!important;
    font-family: "Raleway", sans-serif;
}
.main-container{
    max-width: 1400px;
    margin: auto;
}
.header-box{
    padding: 32px 0;
    text-align: center;
    margin: 10px 0;
    height: 200px;
}
.header-box h1{
    margin: 10px 0;
    font-size: 36px;
    font-weight: 400;
}

.header-box p{
    margin: 15px 0;
    font-size: 15px;
    line-height: 1.5;
}

.header-box p span{
    background: rgba(0, 0, 0);
    color: #fff;
    padding: 5px;
}

.footer-container{
    background: #616161 !important;
    height: 178px;
    margin-top: 10px;
    padding: 32px 16px;
    clear: both;
}
.my-blog-button{
    margin-bottom: 15px;
}
.my-blog-button button{
    background: rgba(0, 0, 0);
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    width: 130px;
}
.next-button:hover{
    color: #000!important;
background-color: #ccc!important;
border-radius: #ccc;
border: none;
}

.footer p{
    color: #fff;
}
.my-blog-button button:disabled{
    background: #ccc;
    color: #000;
    cursor: not-allowed;
}
.left-box{
    width: 70%;
    float: left;
}
.right-box{
    width: 30%;
    float: left;
}
.content-box::after{
    content: "";
    display: table;
    clear: both;
}
.card-box{
    margin: 15px;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 40px;
}
.cart-desc-box h3{
    font-size: 24px;
    padding: .5em 16px;
}
.cart-desc-box h5{
    margin: 10px 16px;
    font-size: 15px;
    font-weight: 300;
}
.right-box .desc {
    padding-bottom: 15px;
}
.desc p{
    margin: 10px 16px;
    font-family: Verdana,sans-serif;
    font-size: 15px;
    line-height: 1.5;
}
.img-wrapper img{
    width: 100%;
}
.readme-left{
    width: 70%;
    float: left;
}
.comment{
    width: 30%;
    float: left;
}
.read-me::after{
    content: "";
    display: table;
    clear: both;
}
.read-me{
    margin: 10px 16px;
}
.readme-left{
    padding-bottom: 16px;
}
.readme-left button{
    padding: 15px 25px;
    color: #000;
    background-color: #fff;
    border: .5px solid;
    font-size: 15px;
    text-align: center;
}
.comment{
    padding-bottom: 16px;
}
.comment p{
    float: right;
    padding-right: 10px;
}
.comment span{
    background: rgba(0, 0, 0);
    color: #fff;
    padding: 5px;
}
.popular{
    height: 60px;
    background: #ccc;
}
.popular h3{
    line-height: 3;
    margin-left: 10px;
    font-weight: 300;
}
.right-box ul li{
    list-style: none;
    padding: 16px;
    border-bottom: 1px solid #ccc;
}
.right-box ul li img{
    width: 40px;
    float: left;
    margin-right: 16px;
}
.right-box ul{
    color: rgb(0, 0, 0) !important;
background-color: rgb(255, 255, 255) !important;
}
.right-box ul li:hover{
    background: #ccc;
}
.tags{
    padding: 16px;
}
.tags span{
    background: #ccc;
    color: #000;
    padding: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
}
.tags span:first-child{
    background: rgba(0, 0, 0);
    color: #fff;
    padding: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
}